.flex-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
}

body {
    background-color: #1f202e;
}

.flex-item {
  background-color: #1f202e;
  padding: 0px;
  width: 100%;
  height: 30px;

  line-height: 35px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-align: left;
  padding-left: 5px;
}

ul {
    padding: 0;
    list-style-type: none;
}

.flex-row-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.player-matches {
    padding: 2em 0;
}

/* Navbar */
#navbar {
    margin-bottom: 0;
    background-color: #1f202e;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

/* Player Info */
.player-info {
    padding: 3em 0 1em 0;
    background-image: url(../assets/backgrounds/player-info-background.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}

#profile-picture {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.player-info-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrap {
    width: 33%;
}

.mmr-block {
    display: flex;
    justify-content: flex-end;
}

.wl-block {
    display: flex;
    justify-content: center;
}

#mmr {
    padding: 1em;
}

#win-loss {
    padding: 1em;
}

/* Player Matches */

.player-matches {
    padding: 1em 1em 1em 1em;
    background-color: #1f202e;
    border-top: 1px solid rgba(255,255,255,.5);
}

.recent-match-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

table {
    background-color: #1f202e;
    table-layout: auto!important;
    margin-bottom: 5px;
    width: 100%;
}

table tr td {
    border-top: 1px solid hsla(0,0%,100%,.06)!important;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

tr {
    display: table-row;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

table tr:nth-child(2n) {
    background-color: rgba(0,0,0,.019);
}

th {
    padding: 10px 10px 10px 10px;
    font-size: 16px;
}

td {
    padding: 10px 10px 10px 10px;
    font-size: 14px;
}

.hero-image {
    margin-right: 7px;
    position: relative;
    height: 29px;
}

/* Footer */

footer {
    margin-bottom: 2.5em;
}